/* Genel Sayfa Stili */
body {
    background-color: ivory; /*arka plan*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*yazı stili*/
    margin: 0;/*nesneler arası boşluk*/
    padding: 0;
    text-align: center;/*ortalanmış yazı*/
    color: #2c3e50; /* Genel yazı rengi */
}

/* Başlık */
h1 {
    font-size: 36px;/*yazı boyutu*/
    font-weight: bold;
    color: #2c3e50; /* yazı rengi */
    margin-top: 40px;/*yukarı boşluk*/
}

/*  paragraflar */
.about-container {
    max-width: 800px;
    margin: auto;/*nesneler arası uzaklık*/
    padding: 20px;
    background-color: #ffffff; /*kutu */
    border-radius: 10px;/*köşe oval*/
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/*yazı*/
.about-container p {
    font-size: 22px;/*boyutu*/
    line-height: 1.6;/*okunurluk*/
}


