body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: ivory;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.image-section img {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.image-section .text {
    margin-top: 10px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 600px;
}

h1 {
     font-size: 55px;
  text-align: center;
  margin-top: 40px;
  color:#2c3e50;;
}

p {
    font-size: 25px;
    line-height: 1.8;
}


.slider {
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 300%;
  animation: slide 10s infinite;
}

.slides img {
  width: 100%;
}

.slider { 
    display : flex; 
    overflow-x : auto; 
    scroll-snap-type : x obliged; 
    scroll-behavior: smooth; 
} 

.slide { 
    flex : 0  0  100% ; 
    scroll-snap-align : start; 
    background-size : cover; 
    background-position : center; 
}
