body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;/*yazı stili*/
    background-color: ivory;
    margin: 0;/*nesneler arası uzaklık*/
    padding: 20px;
    text-align: center;/*ortalanmış yazı*/
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;/*alt boşluk*/
}

.image-section img {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;/*köşe oval*/
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.image-section .text {
    margin-top: 10px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;/*köşe oval*/
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);/*gölge*/
    max-width: 600px;
}

h1 {
     font-size: 55px;
  text-align: center;/*ortalanmış yazı*/
  margin-top: 40px;/*yukarı boşluk*/
  color:#2c3e50;;
}

p {
    font-size: 25px;
    line-height: 1.8;
}


