<!DOCTYPE html>
<html lang="tr">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,intial-scale=1.0">
    <title>İLETİŞİM FORM</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    </head>
    <body>
        <h2>İLETİŞİM FORMU</h2>
        <form id="contactForm" @submit.prevent="handleSubmit">
            <label for="name">Ad Soyad:</label>
            <input type="text" id="name" v-model="name" required>
            <br><br>
             <label for="email">E-posta:</label>
            <input type="email" id="email" v-model="email" required>
            <br><br>
             <label for="phone">Telefon No:</label>
            <input type="text" id="phone" v-model="phone" required>
            <br><br>
            <button type="button" @click="clearForm">Temizle</button>
            <button type="submit">Gönder</button>

        <!--butonlar-->
        <button type="button" @click="checkAllFields">Formu Kontrol Et</button>
         <button type="button" @click="checkPhone">Sadece Tel. No. Kontrol Et</button>

          <div id="result" v-if="formSubmitted">
            <h3>Gönderilen Bilgi:</h3>
            <p><strong>Ad Soyad:</strong>{{name}}</p>
             <p><strong>E-posta:</strong>{{email}}</p>
              <p><strong>Telefon No:</strong>{{phone}}</p>
        </div>

        <!--hata mesajı-->
        <div v-if="erorMessages.length > 0">
            <h4>Hatalar:</h4>
            <ul>
                <li v-for="eror in erorMessages" :key="eror">{{eror}}</li>
            </ul>
        </div>
        </form>


        <script>
            new Vue
            ({
                el:'#app',

                data:
                {
                    name:'',
                    email:'',
                    phone:'',
                    formSubmitted:false,
                    erorMessages:[]
                },

                methods:
                {
                    validateForm()
                    {
                        //eposta kontrolü.
                        const emailRegex=/^[a-aZ-Z0-9._%+-]+@[a-aZ-Z0-9.-]+\.[a-aZ-Z]{2,}$/;
                        return emailRegex.test(this.email);
                    },
                    
                    //telefon no kontrol.
                   validatePhone()
                   {
                    const phoneRegex=/^\d+$/;
                    return phoneRegex.test(this.phone);
                   },

                   //tüm formu kontrol etme,
                   checkAllFields()
                   {
                    this.erorMessages=[];
                    if(!this.name){
                        this.erorMessages.push("Bu Kısmı Boş Bırakamazsınız.");
                    }
                    
                    if(!this.validateEmail){
                        this.erorMessages.push("E-posta Adresi Geçersiz.Geçerli Bir E-posta Adresi Girin.");
                    }

                     if(!this.validatePhone){
                        this.erorMessages.push("Telefon Numarası Sadece Rakam İçermelidir.");
                    }

                    if(this.erorMessages.length===0){
                        this.formSubmitted=true;
                    }
                   },
                   //sadece tel no.
                   checkPhone()
                   {
                    this.erorMessages=[];
                    if(!this.validatePhone()){
                        this.erorMessages.push("Telefon Numarası Sadece Rakam İçermelidir.");
                    }
                   },
                   //form gönderme.
                   handleSubmit()
                   {
                    this.checkAllFields();
                    if(this.erorMessages.length===0){
                        this.formSubmitted=true;
                    }
                   }
                }

            });
        </script>
    </body>
</html>